.header {
    font-size: 18px;
    margin-top: 92px;
    margin-bottom: 92px;
    margin-left: 50.52px;
    padding-right: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.header_menu {
    display: flex;
}

.header_menu-list {
   display: flex;
   gap: 33.239px;
}

.header__links-list-item_no-bullit {
    list-style: none;
}

.header__links-list-item_no-bullit a {
    text-decoration: none;
}

.header__links-list-item {
    list-style: circle;
    text-underline-position: under;
    text-decoration: underline;
}

.header__logo-image {
    margin-left: 36px;
    width: 148px;
    height: 105px;
}

.header__address {
    flex: auto;
    padding-left: 187.5px;
    line-height: 25px;
    font-style: normal;
}

.contacts_menu-list {
    list-style: none;
}

.address {
    text-underline-position: under;
    text-decoration: underline;
}

.cover {
    background: url(../images/cover.jpg) no-repeat center / cover;
    color: #fff;
    min-width: 1100px;
    position: relative;
    padding: 165px 50px 50px 50px;
    row-gap: 25px;
}

.overlay {
    position: absolute;
    z-index: 0;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.6);
}

.cover__title {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 100px;
    font-weight: 700;
    letter-spacing: 30px;
    text-transform: uppercase;
    z-index: 2;
    position: relative;
}

.aligned-text {
    line-height: 115px;
    text-align: left;
}

.aligned-text_center {
    text-align: center;
    line-height: 140px;
    margin-right: 30px;
}

.aligned-text_right {
    text-align: right;
    line-height: 100px;
    margin-left: 583px;
}

.letter-spacing-extended {
    margin-left: 28px;
}

.cover__description {
    margin-top: 134px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    position: relative;
}

.cover__description-text {
    font-size: 22px;
    font-weight: 400;
    width: 637px;
    word-spacing: 18px;
    text-transform: uppercase;
    margin-left: 29px;
}

.bet-button {
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
    background: none;
    border: 1px solid #fff;
    color: #fff;
    padding: 12px 32px;
}

.lots {
    position: relative;
    gap: 25px;
}

.lots__heading {
    position: relative;
    font-size: 40px;
    text-transform: uppercase;
    padding-top: 179px;
    padding-bottom: 29px;
    padding-left: 40px;
}

.lots__card-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: center;
    list-style: none;
    row-gap: 25px;
}

.lots__card-list-item {
    min-height: 563px;
    width: 334px;
}

.card_link {
    text-decoration: none;
}

.card {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: space-between;
    height: 100%;
    max-width: 100%;
    padding-top: 51px;
    padding-bottom: 48px;
    padding-left: 40px;
    padding-right: 40px;
}

.card_type_film {
    background: url(../images/card-lot-01.jpg) no-repeat center / cover;
}

.card_type_book {
    background: url(../images/card-lot-02.jpg) no-repeat center / cover;
}

.card_type_picture {
   background: url(../images/card-lot-03.jpg) no-repeat center / cover;
}

.card_title {
    position: relative;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: underline;
    text-underline-position: under;
    color:#fff;
    z-index: 2;
}

.card_text {
    position: relative;
    font-size: 20px;
    color: #fff;
    z-index: 2;
}

.lots {
    margin-left: 24px;
    margin-right: 24px;
}

.lots__look-more-link {
    text-decoration: underline;
    text-underline-position: under;
    text-transform: lowercase;
    font-size: 20px;
    font-weight: 400;
    margin-top: 30px;
    margin-left: 40px;
    display: block;
}

.about_column {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 65px;
    margin-top: 147px;
    margin-left: 40px;
    margin-right: 29px;
}

.about_logo {
    background-color: #000;
    border-radius: 50%;
    width: 240px;
    height: 240px;
    margin-top: 34px;
    margin-left: 29px;
}

.about_logo-image {
    margin-top: 65px;
    margin-left: 49px;
    width: 148px;
}

.about_column_text {
    padding-top: 136px;
    width: 688px;
}

.about_title {
    text-transform: uppercase;
    font-size: 40px;
    padding-bottom: 100px;
}

.about_text {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    width: 693px;
    gap: 24px;
    margin-bottom: 182px;
    letter-spacing: 0.1px;
    line-height: 24px;
}

.footer {
    display: flex;
    justify-content: space-between;
    padding-bottom: 80px;
    font-size: 18px;
    margin-left: 51px;
    margin-right: 50px;
}

.footer_contacts {
    font-size: 18px;
    font-style: normal;
    align-items: center;
    line-height: 24px;
}

.footer_menu {
    font-size: 18px;
    padding-left: 34px;
    line-height: 21px;
}

.footer_menu-list {
    text-align: center;
    list-style-type: none;
}

.footer_menu-link-no-active a {
    text-decoration: none;
}

.footer_contacts_menu-list {
    list-style-type: none; 
}

.footer_menu-link {
    text-decoration: underline;
    text-underline-position: under;
}

.footer__social-list {
    display: flex;
    justify-content: end;
    gap: 48px;
    list-style: none;
}

.footer__social-icon {
    width: 48px;
    height: 48px;
  }
